{
  "version": 6,
  "configurePresets": [
    {
      "name": "default-local",
      "inherits": "default",
      "environment": {
        "VCPKG_ROOT": "/absolute/path/to/vcpkg"
      }
    }
  ],
  "buildPresets": [
    {
      "name": "default-local",
      "configurePreset": "default-local"
    }
  ]
}
